<div class="grid">
  <div class="col-12">
    <p-card [header]="pageTitle() " styleClass="shadow-2">
      <div class="p-fluid">
        <form [formGroup]="seoForm" (ngSubmit)="onSubmit()">
          <!-- Form Content -->
          <div class="grid mt-4">
            <div class="col-12 md:col-6">
              <h2 class="text-2xl font-bold mb-4">English Meta Title</h2>
              <!-- Meta Title Field -->
              <div class="field mb-3">
                <label
                  for="en_meta_title"
                  class="block text-900 font-medium mb-2">
                  Meta Title
                </label>
                <input
                  pInputText
                  id="en_meta_title"
                  style="width: 100%"
                  formControlName="en_meta_title"
                  placeholder="Enter en meta title"
                  class="w-full"
                  [class.ng-invalid]="seoForm.get('en_meta_title')?.invalid && seoForm.get('en_meta_title')?.touched" />
                <small
                  class="p-error block"
                  *ngIf="seoForm.get('en_meta_title')?.invalid && seoForm.get('en_meta_title')?.touched && !isViewMode()">
                  Meta title is required.
                </small>
              </div>

              <div class="field mb-3">
                <label
                  for="en_meta_description"
                  class="block text-900 font-medium mb-2">
                  Meta Description
                </label>
                <input
                  pInputText
                  id="en_meta_description"
                  style="width: 100%"
                  formControlName="en_meta_description"
                  placeholder="Enter en meta description"
                  class="w-full"
                  [class.ng-invalid]="seoForm.get('en_meta_description')?.invalid && seoForm.get('en_meta_description')?.touched" />
                <small
                  class="p-error block"
                  *ngIf="seoForm.get('en_meta_description')?.invalid && seoForm.get('en_meta_description')?.touched && !isViewMode()">
                  Meta title is required.
                </small>
              </div>
            </div>

            <div class="col-12 md:col-6 right-side">
              <h2 class="text-2xl font-bold mb-4">Arabic Meta Title</h2>
              <!-- Meta Title Field -->
              <div class="field mb-3">
                <label
                  for="ar_meta_title"
                  class="block text-900 font-medium mb-2">
                  Meta Title
                </label>
                <input
                  pInputText
                  id="en_meta_title"
                  style="width: 100%"
                  formControlName="ar_meta_title"
                  placeholder="Enter ar meta title"
                  class="w-full"
                  [class.ng-invalid]="seoForm.get('ar_meta_title')?.invalid && seoForm.get('ar_meta_title')?.touched" />
                <small
                  class="p-error block"
                  *ngIf="seoForm.get('ar_meta_title')?.invalid && seoForm.get('ar_meta_title')?.touched && !isViewMode()">
                  Meta title is required.
                </small>
              </div>

              <div class="field mb-3">
                <label
                  for="en_meta_description"
                  class="block text-900 font-medium mb-2">
                  Meta Description
                </label>
                <input
                  pInputText
                  id="ar_meta_description"
                  style="width: 100%"
                  formControlName="ar_meta_description"
                  placeholder="Enter ar meta description"
                  class="w-full"
                  [class.ng-invalid]="seoForm.get('ar_meta_description')?.invalid && seoForm.get('ar_meta_description')?.touched" />
                <small
                  class="p-error block"
                  *ngIf="seoForm.get('ar_meta_description')?.invalid && seoForm.get('ar_meta_description')?.touched && !isViewMode()">
                  Meta title is required.
                </small>
              </div>
            </div>

            <!-- Action Buttons -->
            <div class="col-12">
              <div class="flex justify-content-end gap-2 pt-3">
                <!-- Edit Mode Buttons -->
                <ng-container *ngIf="isEditMode()">
                  <p-button
                    label="Cancel"
                    icon="pi pi-times"
                    severity="secondary"
                    type="button"
                    (click)="onCancel()">
                  </p-button>
                  <p-button
                    label="Update Slider"
                    icon="pi pi-check"
                    severity="primary"
                    type="submit"
                    [disabled]="seoForm.invalid || isLoading()"
                    [loading]="isLoading()">
                  </p-button>
                </ng-container>

                <!-- View Mode Buttons -->
                <ng-container *ngIf="isViewMode()">
                  <p-button
                    label="Back"
                    icon="pi pi-arrow-left"
                    severity="secondary"
                    type="button"
                    (click)="onCancel()">
                  </p-button>
                  <p-button
                    label="Edit"
                    icon="pi pi-pencil"
                    severity="primary"
                    type="button"
                    (click)="onEditSeo()">
                  </p-button>
                </ng-container>
              </div>
            </div>
          </div>
        </form>
      </div>
    </p-card>
  </div>
</div>

<!-- Toast Messages -->
<p-toast></p-toast>
