::ng-deep .p-fileupload-upload-button {
  display: none !important;
}
::ng-deep .p-fileupload-file-badge {
  display: none !important;
}
::ng-deep .ql-editor .ql-direction-rtl {
  text-align: right !important    ;
}
